* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
    padding: 30px ;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
}

.animation-container {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 10px 0;
}

.bg-red {
    background-color: red;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.small-square {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.image-animation-container {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 10px 0;
}

.image-animation img {
    width: 40%;
}

#image-scale {
    padding: 50px 100px;
}

#image-scale img {
    width: 28%;
}

.icon {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
}

.button {
    width: fit-content;
    border: 2px solid black;
    padding: 20px 60px;
    font-size: 18px;
    color: black;
    text-align: center;
}