* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
    padding: 30px ;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
}

.animation-container {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 10px 0;
}

.bg-red {
    background-color: red;
}

.square {
    width: 100px;
    height: 100px;
}

section:nth-child(5) .wrapper .animation-container {
    height: 140px;
    position: relative;
} 

.small-square {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-10%, -50%);
}

.image-animation img {
    width: 40%;
}

.image-animation-container {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 10px 0;
}

section:nth-child(9) .wrapper .image-animation-container {
    height: 400px;
    position: relative;
} 

#image-scale {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

#image-scale img {
    width: 30%;
}

.icon {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 50%;
}

.button {
    width: fit-content;
    border: 2px solid black;
    padding: 20px 60px;
    font-size: 18px;
    color: black;
    text-align: center;
}

            /* Animazioni */

/* Animazione 2 */

section:nth-child(1) .wrapper .square {
    border: 1px solid red;
    transition: all 2s ease 0s;
}

section:nth-child(1) .wrapper .square:hover {
    background-color: red;
}

/* Animazione 2 */

section:nth-child(2) .wrapper .square {
    transition: all 3s ease 0s;
}

section:nth-child(2) .wrapper .square:active {
    width: 100%;
}

/* Animazione 3 */

section:nth-child(3) .wrapper .square {
    transition: all 5s ease 0s;
}

section:nth-child(3) .wrapper .square:hover {
    border-radius: 50%;
}

/* Animazione 4 */

section:nth-child(4) .wrapper .square {
    transition: all 3s ease 0s;
}

section:nth-child(4) .wrapper .square:hover {
    background-color: transparent;
}

/* Animazione 5 */

section:nth-child(5) .wrapper .small-square {
    transition: all 3s ease 0s;
}

section:nth-child(5) .wrapper .small-square:hover{
    width: 100px;
    height: 100px;
}

section:nth-child(5) .wrapper .small-square:active{
    width: 20px;
    height: 20px;
}

/* Animazione 6 */

section:nth-child(6) .wrapper .image-animation img:hover {
    filter:grayscale(1)
}

/* Animazione 7 */

section:nth-child(7) .wrapper .image-animation img {
    transition: all 3s ease-in-out 0s;
    filter: none;
}

section:nth-child(7) .wrapper .image-animation img:hover {
    transition: all 3s ease-in-out 0s;
    filter:grayscale(1)
}

/* Animazione 8 */

section:nth-child(8) .wrapper .image-animation img {
    transition: all 3s ease-in-out 0s;
    filter: none;
}

section:nth-child(8) .wrapper .image-animation img:hover {
    transition: all 2.5s ease-in-out 0s;
    filter: sepia(0.8);
    border-radius: 20px
}

/* Animazione 9 */

section:nth-child(9) .wrapper .image-animation-container img {
    transition: all 2.5s ease-in-out 0s;
    filter: none;
}

section:nth-child(9) .wrapper #image-scale img:hover {
    width: 55%;
    border-radius: 25px;
    filter: grayscale(0.8);
}

/* Animazione 10 */