* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
    padding: 30px ;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
}

.animation-container {
    width: 100%;
    height: 140px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 10px 0;
}

.bg-red {
    background-color: red;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.small-square {
    width: 60px;
    height: 60px;
    margin: 20px;
}



